body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#daddy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 550px;
}

.playerBoard {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
}

.enemyBoard {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
}

.enemyBoard > div {
    border: 1px solid tomato;
    cursor: pointer;
    text-align: center;
}

.playerBoard > div {
    border: 1px solid rgb(83, 243, 94);
    text-align: center;
}


/* here we make classes for the ships */

.PlayerShips {
    background-color: green;
    text-align: center;
}

.EnemyShip {
    text-align: center;
}